/**
 * Style Overrides.
 *
 * Modify this file to override the Bootstrap Framework styles. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

/** Navbar **/

.navbar {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border:0;
 .navbar-brand {
	 width:247px;
	 height:64px;
	 background: url("http://94.254.0.73/fic2017zen/sites/default/files/fic-logo_web_247x64_0.png") no-repeat;
	 text-indent: 200%;
	 white-space: nowrap;
	 overflow: hidden;
	 margin-right:12px;
 }
} 

/** Footer **/

.footer {
	background: @gray-light;
}

/****** Special pages: front ******/

body.front {

	color: #fff;

	.frontlogocont {
		text-align:center;
	}
	.frontlogo {
		width:75%;
		margin:36px auto 36px;
	}
	.navbar {
		background:rgba(255,255,255,0.8);
		.navbar-brand {
			display:none;
		}
	}
	h1.page-header {
		display:none;
	}
	h1, h2, h3 {
		color: @gray-lighter;
	}
	.field-name-body {
		font-size:20px;  
	}

.footer {
	background: none;
}

#background {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(cervantino.jpg) no-repeat; /* Necesita corrección del URL*/
		background-size: cover;
	}
}

/****** Special pages: Convocatoria - Academia Cervantina ******/

body.page-node-1 {
//	background: url("http://www.festivalcervantino.gob.mx/wp-content/themes/fic-2016/img/academia-cervantina.jpg");
}
