a.messageclose {
  background: rgba(0, 0, 0, 0) url("../images/x.svg") no-repeat scroll center center;
  display: inline-block;
  float: right;
  font-size: 0;
  height: 15px;
  width: 15px;
}
a.messageclose:hover,
a.messageclose:focus,
a.messageclose:active {background: rgba(0, 0, 0, 0) url("../images/x-hover.svg") no-repeat scroll center center; }
