/****
body{ font-family: 'Fira Sans', sans-serif !important;
}

body.not-front{ color: #010101; }
body.page-node-1 header{ background: #5590d3 !important; }
body.not-front .panel-body,
body.not-front .region-sidebar-first{ color: #fff; }
.well,
.breadcrumb,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
body.not-front .panel-body,
body.not-front .region-sidebar-first{ background-color: #b3b3b3 !important; }

*****/
body.front header{ position: absolute;
    top: 0;
    z-index: 7;
    width: 100% !important;
}
#block-block-9{ width: 100%; }
#block-block-9 .item-header{ width: 33%;
    float: left;
    text-align: center;
}
body.front #block-block-9 .item-header:nth-child(1) img:nth-child(2){ display: none; }
body.not-front #block-block-9 .item-header:nth-child(1) img:nth-child(1){ display: none; }
#block-block-9 .item-header:nth-child(1){ text-align: left; }
#block-block-9 .item-header:nth-child(2){ text-align: center; }
#block-block-9 .item-header:nth-child(3){ text-align: right;
    color: #fff;
    text-shadow: 0 0 8px #000;
    font-weight: 700;
}
body.not-front #block-block-9 .item-header:nth-child(3){ color: #000;
    text-shadow: 0 0 0 #000;
}
.navbar-nav{ margin: 30px auto 0;
    display: table;
    width: auto;
    float: inherit;
}
.navbar-nav > li > a{ font-size: 17px !important; }
body.not-front .navbar-default .navbar-nav > li > a{ color: #010101 !important;
    font-size: 17px !important;
}
body.front .navbar-header,
body.front #page-header{ display: none; }
body.not-front #page-header p.lead{ color: #010101; }
body.not-front h1.page-header{ color: #010101;
    font-weight: 700;
}
.slideshow-home{ width: 100%;
    overflow: hidden;
    position: relative;
}
.slideshow-home .views-slideshow-controls-bottom{ position: absolute;
    z-index: 6;
    bottom: 45%;
    left: 0%;
    width: 100%;
}
.slideshow-home .views-slideshow-controls-bottom .views-slideshow-controls-text-pause{ display: none; }
.slideshow-home .views-slideshow-controls-bottom .views_slideshow_controls_text_previous{ display: block;
    cursor: pointer;
    background: url(../images/flechaIzq.png) no-repeat center center;
    width: 45px;
    height: 80px;
    font-size: 0;
    float: left;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.slideshow-home .views-slideshow-controls-bottom .views_slideshow_controls_text_next{ display: block;
    cursor: pointer;
    background: url(../images/flecha.png) no-repeat center center;
    width: 45px;
    height: 80px;
    font-size: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    float: right;
}
.slideshow-home .views-slideshow-controls-bottom .views_slideshow_controls_text_previous:hover,
.slideshow-home .views-slideshow-controls-bottom .views_slideshow_controls_text_next:hover{ background-color: rgba(102,102,102,0.8);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.slideshow-home img{ width: auto;
    max-width: inherit !important;
    height: auto;
/** -moz-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    transform: translateX(-200px);
**/
}
.slideshow-home .views-row{ position: relative;
    text-shadow: 0 0 8px #000;
}
.slideshow-home .views-field-field-image .fondo{ 
    /* background: url(../images/slide.png) no-repeat center top;*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: 100% 100%;
}
.slideshow-home .views-row .views-field-field-artista-s{ position: absolute;
    right: 6%;
    top: 48%;
    width: 90%;
    z-index: 9;
    font-size: 40px;
    color: #fff;
    font-weight: 700;
}
.slideshow-home .views-row .views-field-field-subtitulo1{ position: absolute;
    right: 6%;
    top: 45%;
    width: 90%;
    z-index: 9;
    font-size: 30px;
    color: #fff;
}
.slideshow-home .views-row .views-field-field-subtitulo-2{ position: absolute;
    left: 4%;
    top: 50%;
    width: 90%;
    overflow: hidden;
    z-index: 9;
    font-size: 27px;
    color: #fff;
}
.slideshow-home .views-row .views-field-title{ position: absolute;
    right: 6%;
    top: 55%;
    width: 90%;
    z-index: 9;
    font-size: 25px;
    color: #fff;
}
.slideshow-home .views-row .views-field-field-date{ position: absolute;
    right: 6%;
    top: 60%;
    width: 90%;
    z-index: 9;
    font-size: 20px;
    color: #fff;
}
.slideshow-home .views-row .views-field-field-sede{ position: absolute;
    right: 6%;
    top: 63%;
    width: 90%;
    z-index: 9;
    font-size: 18px;
    color: #fff;
}
.slideshow-home .views-row .views-field-field-pais{ position: absolute;
    right: 6%;
    top: 66%;
    width: 90%;
    z-index: 9;
    font-size: 18px;
    color: #fff;
}
.slideshow-home .views-row .views-field-field-categoria-editorial{ position: absolute;
    right: 6%;
    top: 69%;
    width: 90%;
    z-index: 9;
    font-size: 18px;
    color: #fff;
}

#block-block-10 h2.block-title{ width: 100%;
    text-align: center;
    background: url(../images/linea-color.png) repeat-x center center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0;
    height: 59px;
    display: block;
    margin: 0;
    padding: 10px 0;
}
#block-block-10 .content{ width: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
    background: rgba(189, 211, 224, 1);
}
#block-block-10 .content .item-video:nth-child(1){ width: 55%;
    float: left;
    text-align: right;
    padding: 0 5% 0 0;
}
#block-block-10 .content .item-video:nth-child(1) iframe{ width: 100%; }
#block-block-10 .content .item-video:nth-child(2){ width: 45%;
    text-align: left;
    float: left;
}
#block-block-10 iframe{ border: none; }
#block-views-herramientas-jonathan-block-1{ width: 100%;
    position: relative;
}


.calendario-eventos{ width: 100%;
    position: relative;
}
.calendario-eventos .view-content{
    background: #0076BE;
    padding: 25px 0 0 0;
    background-size: 100% auto;
    width: 100%;
    overflow: auto;
    margin: -1px 0 0 0 !important;
}
.calendario-eventos .quicktabs-tabs { width: auto !important;
    margin: 0 auto 31px !important;
    display: table;
}
.calendario-eventos .quicktabs-tabs .dias{ width: 98px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 25px;
    float: left;
    padding: 6px 37px 6px 0;
}
.calendario-eventos .quicktabs-tabs li{ height: 10px !important;
    min-height: 10px !important;
    margin: 15px 0 0 0 !important;
}
.calendario-eventos .quicktabs-tabs li.active{ margin: 15px 0 0 0 !important; }
.calendario-eventos .quicktabs-tabs li a{ background: none !important;
    border: none !important;
    color: #fff !important;
    height: 20px !important;
    font-weight: 700 !important;
    font-size: 25px !important;
    min-height: auto !important;
    line-height: 20px !important;
    border-right: 1px solid #fff !important;
}
.calendario-eventos .quicktabs_main{ width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0;
    top: 0 !important;
}
.calendario-eventos .quicktabs_main .quicktabs-views-group{ width: 33%;
    overflow: hidden;
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
}
.calendario-eventos .quicktabs_main .quicktabs-views-group .views-field-field-image img{ width: 100%;
    height: auto;
    display: block;
}
.calendario-eventos .quicktabs_main .quicktabs-views-group .views-field-title{ width: 100%;
    padding: 100px 5% 40px 5%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    background: url(../images/pleca-frontcal.png) no-repeat center top;
    background-size: 100% auto;
    height: 183px;
}
.calendario-eventos .quicktabs_main .quicktabs-views-group .views-field-title a{ text-align: center;
    color: #fff;
    text-decoration: none;
}




#block-block-11,
#block-block-12{ width: 100%;
    position: relative;
    padding: 20px 5%;
    float: left;
    background: @brand-lightblue;
}
#block-block-11 .block-title,
#block-block-12 .block-title{ width: 100%;
    text-align: center;
    color: #010101;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    display: block;
    padding: 20px 0;
}
#block-block-12 .jcarousel li{ padding: 5px 15px; }
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 10px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}
/** Carousel **/
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    width: auto !important;
    float: left;
    padding: 5px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}
/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: @brand-lightblue;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}
.jcarousel-control-prev {
    left: 15px;
}
.jcarousel-control-next {
    right: 15px;
}
/** Carousel Pagination **/
.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;
    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;
    margin-right: 7px;
    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}
.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}


#block-views-ejes-tem-ticos-jonathan-block{ width: 100%;
    position: relative;
    background: #EAF2F5;
}
#block-views-ejes-tem-ticos-jonathan-block .block-title{ background: #ebf2f6 url(/fic2017bak/sites/all/themes/fic45/images/titulo-eventor.png) no-repeat center top;
    padding: 40px 0 38px 0;
    background-size: 100% auto;
    width: 100%;
    overflow: auto;
    text-align: center;
    display: block;
    margin: -1px 0 0 0 !important;
    color: #bd1f1e;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
}
.ejes-tematicos .col-lg-3{ margin: 0;
    position: relative;
    padding: 0;
}
.ejes-tematicos{ overflow: hidden;
    position: relative;
}
.ejes-tematicos .views-field-name{ position: absolute;
    z-index: 6;
    bottom: 79px;
    color: #fff;
    width: 100%;
    padding: 5px 10%;
}
.ejes-tematicos .views-field-name a{ color: #fff;
    text-decoration: none;
}
.ejes-tematicos .views-field-nid{ position: absolute;
    z-index: 5;
    bottom: 0px;
    color: #fff;
    width: 100%;
    padding: 56px 10%;
    background: url(../images/item-row-azul.png) no-repeat;
    background-size: 100% auto;
}
.node-page .field-name-field-ilustracion,
.node-espectaculo .field-name-field-image{ background: url(../images/linea-color.png) repeat-x center bottom;
    padding: 0 0 60px 0;
}

#views-exposed-form-eventos-todos-page,
#views-exposed-form-boletines-page{ position: relative; }
#views-exposed-form-eventos-todos-page .views-exposed-form .views-exposed-widget,
#views-exposed-form-boletines-page .views-exposed-form .views-exposed-widget{ float: left;
    width: auto;
    max-width: 270px;
}
#views-exposed-form-eventos-todos-page .views-exposed-form .views-exposed-widget label,
#views-exposed-form-boletines-page .views-exposed-form .views-exposed-widget label{ color: #010101;
    font-size: 18px;
    font-weight: 300;
}
#views-exposed-form-eventos-todos-page .views-exposed-form input,
#views-exposed-form-boletines-page .views-exposed-form input{ background: #bcd3e1 url(../images/select-icon.png) no-repeat 95% center;
    padding: 5px 10px;
    width: auto;
    max-width: 210px;
}
#views-exposed-form-eventos-todos-page .views-exposed-form select,
#views-exposed-form-boletines-page .views-exposed-form select{ background: #bcd3e1 url(../images/select-icon.png) no-repeat 95% center;
    padding: 5px 10px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  
}



@media only screen and (max-width: 480px){


body.front .navbar-header,
body.front #page-header{
    display: block;
}
.navbar-collapse.collapse.in{ background: rgba(0,0,0,0.8); }
.region-navigation{ display: none; }
#block-block-10 .content .item-video:nth-child(1){ width: 100%;
    float: left;
    text-align: right;
    padding: 0;
}
#block-block-10 .content .item-video:nth-child(2){ width: 100%;
    text-align: left;
    float: left;
    padding: 0 0 20px 0;
}
.calendario-eventos .quicktabs-tabs .dias {
    width: 100%;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    float: left;
    padding: 0;
}
.calendario-eventos .quicktabs-tabs li {
    height: 20px !important;
    width: 53px;
    min-height: 10px !important;
    margin: 15px 0 0 0 !important;
}
.calendario-eventos .quicktabs_main .quicktabs-views-group{ width: 100%; }
#block-views-ejes-tem-ticos-jonathan-block .block-title{ background-size: 100% 110px; }



}









