/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../fonts/';

// @body-bg:               #b7cfdc;
@body-bg:               rgba(189,211,224,.6);

@brand-bluebasic:    			#0076be; // azul normal
@brand-blue:		          #4891ce; // azul menos fuerte
@brand-lightblue:         #b7cfdc; // azul clarititito
@brand-warning:         	#f0ad4e; //

@brand-primary:          	#CC1B28; // rojo; no #e31837

@navbar-default-link-color:                @text-color;
@navbar-default-link-hover-color:          @navbar-default-link-color;
@navbar-default-link-hover-bg:             #0076be;
@navbar-default-link-active-color:         #0076be;
@navbar-default-link-active-bg:            transparent;
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

@navbar-default-color:             @text-color;
@navbar-default-bg:                transparent;
@navbar-default-border:            transparent;

//** Background for the dropdown menu.
@dropdown-bg:                   #0076be ;

//** Hover background for dropdown links.
@dropdown-link-hover-color:     #0076be;
@dropdown-link-hover-bg:        #b7cfdc;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      @link-color;
//** Link hover decoration.
@link-hover-decoration: underline;


@well-bg:                     lighten(@gray-lighter, 20%);
@well-border:                 transparent;
